.container{
    background-color: #f2f2f2;
    padding: 20px;
    margin: 0 auto;
}
@media screen and (min-width: 760px){
    .container{
        width: 50%;
    }
}
@media screen and (min-width: 760px){
    .container{
        width: 100%;
    }
}